<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodfight">
    <uses-permission android:name="android.permission.INTERNET"> </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodFight">
        <activity android:name=".AppAbout" android:parentActivityName=".UserProfile"> </activity>
        <activity android:name=".Trend" android:parentActivityName=".MainActivity"> </activity>
        <activity android:name=".DayPicker" android:parentActivityName=".Meals"> </activity>
        <activity android:name=".UserProfile" android:parentActivityName=".MainActivity"> </activity>
        <activity android:name=".MenuEditor" android:parentActivityName=".FoodList"> </activity>
        <activity android:name=".FoodList" android:parentActivityName=".Meals"> </activity>
        <activity android:name=".Meals" android:parentActivityName=".MainActivity"> </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>