<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodfight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodFight">
        <activity android:name=".acFoodItem"></activity>
        <activity
            android:name=".acAppAbout"
            android:parentActivityName=".acUserProfile" />
        <activity
            android:name=".acCalendar"
            android:parentActivityName=".acMeals" />
        <activity
            android:name=".acFoodList"
            android:parentActivityName=".acMeals" />
        <activity
            android:name=".acMeals"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acAddFood"
            android:parentActivityName=".acFoodList" />
        <activity
            android:name=".acTrend"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acUserProfile"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>